@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'components/dashboard';

html, body {
  font-family: 'Helvetica';
  padding-left: 1em;
  padding-right: 1em;
  background: #dedede;
}

form {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
}
